<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/css/dashboard.css'>
</head>

<body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-3 mr-0" href="#">
            <%= title %>
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <h1 class="h2">Dashboard</h1>
        <!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->
        <div id="myChart" style="width:900px;height:380px;"></div>
        <div id="speaking_time" style="width:900px;height:380px;"></div>
    </div>

    <!-- <h1>
        
    </h1>
    <div>
        <p>Analytics comming...</p>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/js/myplots.js"></script>
</body>

</html>